<section th:fragment="inputForm" th:id="formFragment">
    <form th:object="${taskForm}" th:action="${url}" th:method="${method}" id="form">
        <div class="formParts">
            <label th:for="*{title}">Title</label>
                <input type="text" th:field="*{title}" placeholder="Title" required>
        </div>
        <div class="formParts">
            <label th:for="*{description}">Description</label>
            <textarea th:field="*{description}" placeholder="Description" rows="5"></textarea>
        </div>
        <div class="formParts">
            <fieldset>
                <legend>Deadline</legend>
                <select th:field="*{year}">
                    <option value="" selected disabled>- year -</option>
                    <th:block th:each="y: ${#numbers.sequence(2000, 2050)}">
                        <option th:value="${y}" th:text="${y}"></option>
                    </th:block> 
                </select>
                <select th:field="*{month}">
                    <option value="" selected disabled>- month -</option>
                    <th:block th:each="m: ${#numbers.sequence(1, 12)}">
                        <option th:value="${m}" th:text="#{${'month.' + m}}"></option>
                    </th:block>
                </select>
                <select th:field="*{day}">
                    <option value="" selected disabled>- day -</option>
                    <th:block th:each="d: ${#numbers.sequence(1, 31)}">
                        <option th:value="${d}" th:text="${d}"></option>
                    </th:block>
                </select>
                <select th:field="*{time}">
                    <option value="" selected disabled>- time -</option>
                    <th:block th:each="h: ${#numbers.sequence(0, 23)}">
                        <th:block th:each="m: ${#numbers.sequence(0, 30, 30)}" th:with="time=${
                                #numbers.formatInteger(h, 2) + ':' + #numbers.formatInteger(m, 2)}">
                            <option th:value="${time}" th:text="${time}"></option>
                        </th:block>
                    </th:block>
                </select>
            </fieldset>
        </div>
        <div class="formParts">
            <label th:for="*{completed}">Completed</label>
            <input type="checkbox" th:field="*{completed}">
        </div>
        <div class="formParts formActions">
            <button type="reset">Clear</button>
            <button type="submit" id="formBtn">Submit</button>
        </div>
    </form>
</section>
