<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <title>Task Manager</title>
    </head>
    <body>
        <h1>Task List</h1>
        <button class="openModal">Add Task</button>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Deadline</th>
                    <th>Completed</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody
                th:replace="~{fragments/list :: taskList}">
            </tbody>
        </table>
        <div id="modalOverlay">
            <div id="modalForm">
                <div class="closeModal">
                    <button type="button">×</button>
                </div>
                <div th:replace="~{fragments/form :: inputForm}">
                </div>
            </div>
        </div>

        <script th:src="@{/webjars/jquery/4.0.0/jquery.min.js}"></script>
        <script th:src="@{/js/main.js}"></script>
    </body>
</html>